<% if @errors %>
    <%= @errors %>
<% end %>
<h1>Welcome to Emergency Prep Inventory!</h1>
<br>
If you already have an account:  <%= link_to "Login here", login_path %>
<br>
or sign up for a new account:  <%= link_to "Take me to Sign Up!", signup_path %>
<br>
or <%= link_to "Log in with Google", '/auth/google_oauth2', method: :post  %>