<h2>List of all current storage types</h2>
<ul>
    <% @types.each do |type| %>
        <li><%= type.name %> <%= link_to "View or edit items in this storage group", type_items_path(type) %></li>
    <% end %>
</ul>