<h2>All of the <%= @type.name %> items: </h2>
<br>
<ul>
    <% @type.items.each do |item| %>
        <li><%= item.name %> total: <%= item.quantity %></li>
    <% end %>
</ul>
<br>
<%= link_to "Add a new #{@type.name} supply", new_type_item_path(@type) %>